@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #c5c5c5;
  position: relative;
  font-family: sans-serif;
}
.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  text-align: center;
}

.box {
  width: 18rem;
  background: #ffffffaa;
  /* border: 0.5px solid gray; */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  /* position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%); */
}